<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ .Title }}</title>
    <style type="text/css">
table, th, td {
  padding: 5px;
  border: 1px solid #aaa;
}
h4 {
  margin: 30px 0 10px;
}
p {
  margin: 5px 0 15px;
}
    </style>
  </head>
  <body>

    <section>
      <h2>Template Syntax Examples</h2>
      <p>Some examples of using the correct syntax in Go templates.</p>
      {{/* Comments will not show up in the HTML! */}}
    </section>

    <section>
      <h4>Iterating a Map</h4>
      <p>A call to range with a single variable ( range $item := .Dict ) will return the value of each map element.</p>
      {{ if .Dict }}
      <table>
        <tbody>
          {{ range $item := .Dict }}<tr>
            <td>{{ $item.Name }}</td>
            <td>{{ $item.Value }}</td>
            <td>{{ $item.Status }}</td>
          </tr>{{ end }}
        </tbody>
      </table>
      {{ end }}
      <h4>Iterating a Map with Key</h4>
      <p>A call to range with two variables ( range $key, $item := .Dict ) will return the key and value of each map element.</p>
      {{ if .Dict }}
      <table>
        <tbody>
          {{ range $key, $item := .Dict }}<tr>
            <th>{{ $key }}</th>
            <td>{{ $item.Name }}</td>
            <td>{{ $item.Value }}</td>
          </tr>{{ end }}
        </tbody>
      </table>
      {{ end }}
    </section>

    <section>
      <h4>Iterating an Array</h4>
      <p>A call to range with a single variable ( range $item := .List ) will return each element of an array.</p>
      {{ if .List }}
      <ol>
          {{ range $item := .List }}<li>{{ $item.Name }} ({{ $item.Value }})</li>{{ end }}
      </ol>
      {{ end }}
      <h4>Iterating an Array with Index</h4>
      <p>A call to range with two variables ( range $index, $item := .List ) will return each index and element of an array.</p>
      {{ if .List }}
      <table>
        <tbody>
          {{ range $index, $item := .List }}<tr>
            <th>{{ $index }}</th>
            <td>{{ $item.Name }}</td>
            <td>{{ $item.Value }}</td>
          </tr>{{ end }}
        </tbody>
      </table>
      {{ end }}
    </section>

    <section>
      <h4>A Note about Private Variables</h4>
      <p>A template variable that accesses a private attribute is valid syntax, but the template output will stop when it is encountered.</p>
      {{ if .Dict }}
      <table>
        <tbody>
          {{ range $item := .Dict }}<tr>
            <td>{{ $item.Name }}</td>
            <td>{{ $item.Value }}</td>
            <td>{{ $item.Status }}</td>
            <td>{{ $item.private }}</td>
          </tr>{{ end }}
        </tbody>
      </table>
      {{ end }}
    </section>
  </body>
</html>